# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file.
[*]
end_of_line = lf
insert_final_newline = true

[*.{js,ts,jsx,tsx,scss,php,xml}]
charset = utf-8
# Avoid trailing whitespace.
trim_trailing_whitespace = true
# Tab indentation.
indent_style = tab

# Use 4-space indentation on composer.json.
[{composer.json}]
indent_style = space
indent_size = 4

# 2-space indentation on .yml files.
[*.yml]
indent_style = space
indent_size = 2
